body {
  font-family: "Proza Libre", sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #562b82;
  padding: 15px 0;
}

h1 {
  display: inline-block;
  font-weight: normal;
  font-size: 2.5rem;
}

h2 {
  display: inline-block;
  font-weight: normal;
  margin: 0;
  color: white;
}

h3 {
  display: inline-block;
}

h4 {
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight: 300;
  text-decoration: 1px underline;
}

i {
  cursor: pointer;
  color: #562b82;
  font-size: 1.4rem;
  margin-top: 20px;
  float: right;
}

a {
  margin-left: 25px;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-top: 0;
}

label {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 10px;
}

img {
  object-fit: cover;
  margin-bottom: 20px;
  width: 100%;
}

input,
textarea {
  color: #0d0d0d;
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  width: 100%;
  outline: none;
}

input {
  padding: 20px 10px;
  height: 35px;
}

textarea {
  margin-bottom: 20px;
  padding: 10px;
  line-height: 25px;
}

button {
  float: right;
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  border: none;
  background-color: #562b82;
  color: white;
  padding: 7px 17px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 30%;
  background: #fefefe;
  border-radius: 5px;
  padding: 40px 25px;
  width: 450px;
  height: 200px;
  visibility: visible;
  z-index: 1;
}

.modal-message {
  display: block;
  margin-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

.cancel {
  all: unset;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 7px 17px;
  border-radius: 5px;
  background-color: rgb(161, 161, 161);
  color: black;
}

.confirm {
  all: unset;
  cursor: pointer;
  font-size: 1.2rem;
  float: right;
  padding: 7px 17px;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.new-btn {
  cursor: pointer;
  margin-top: 30px;
}

.margin-bottom {
  margin-bottom: 25px;
}

.entries-header {
  margin: 0;
}

.text-align-center {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.active {
  visibility: visible;
}
